.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Media Query for Tablet Screens and Below */
@media (max-width: 1024px) {
  .toolbar-content {
    margin-left: 8%;
    margin-right: 8%;
  }
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .toolbar-content {
    margin-left: 4%;
    margin-right: 4%;
  }

  .mat-toolbar {
    min-height: 70px; /* Increase toolbar height for smaller screens */
  }

  .mat-button {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Media Query for Small Mobile Screens */
@media (max-width: 480px) {
  .toolbar-content {
    margin-top: 7vh;
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: flex-start;
  }

  .spacer {
    display: none; /* Hide spacer on very small screens */
  }

  .mat-toolbar {
    min-height: 80px; /* Increase toolbar height further if needed */
  }

  .mat-button {
    font-size: 12px; /* Adjust font size for very small screens */
  }
  .links{
    flex-direction: row;
    margin-top: 2vh;
  }
}

.toolbar {
  background-color: black; /* Change background color to black */
  width: 100%; /* Full width background */
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Title on the left, links on the right */
  margin-left: 12%;
  margin-right: 12%;
  width: 100%;
  border-bottom: 2px solid white; /* Add a white line below the navbar */
}

.toolbar-content a {
  color: white; /* Ensure link color is white */
}

.mat-toolbar {
  min-height: 80px; /* Increase the height of the toolbar */
  font-size: 30px; /* Increase font size */
}

.mat-toolbar span {
  color: white; /* Ensure toolbar text color is white */
}

.mat-button {
  color: white; /* Ensure button text color is white */
}

.spacer {
  flex-grow: 1; /* Spacer takes up remaining space to push links to the right */
}

a.active {
  text-decoration: underline; /* Optional: style for active link */
}


a {
font-size: 20px;
}