<h1 class="center-title">Fraud News</h1>

<div class="form-container">
  <form [formGroup]="filterForm" (submit)="submit()">
    <div class="form-fields">
      <mat-form-field class="form-field">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matInput matStartDate placeholder="Start date" [formControl]="dateFrom">
          <input matInput matEndDate placeholder="End date" [formControl]="dateTo">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Fraud News Sites</mat-label>
        <mat-select [formControl]="selectedFraudSites" multiple (selectionChange)="onSelectionChange($event)">
          <mat-option *ngFor="let newsSite of formfraudSites" [value]="newsSite.id">
            {{newsSite.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-flat-button color="primary" type="submit">Filter</button>
    </div>
  </form>
</div>

<div class="container">
    <div *ngIf="rssItems.length > 0; else noData" class="rss-grid-container">
      <div class="rss-grid">
        <div class="rss-item" *ngFor="let item of rssItems">
          <a [href]="item.link" target="_blank" class="rss-item-link">
            <div class="image-container">
              <img [src]="getImageUrl(item.id)" alt="{{ item.title }}" class="rss-image"/>
            </div>
            <h3>{{ item.title }}</h3>
            <p class="rss-news-site">{{ item.newsSiteName }}</p>
            <p class="rss-date">{{ item.pub_date | date:'d MMMM yyyy' }}</p>
          </a>
        </div>
      </div>
    </div>


  </div>
  
  <ng-template #noData>
    <p>No RSS items available.</p>
  </ng-template>
  